.footer {
  background-color: #333;
  color: white;
  text-align: center;
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Horizontally centers all cards */
  justify-content: space-between;
  padding-left:20%;
  padding-right: 20%;
  padding-bottom: 2%;
}
h4 {
 margin-bottom: 12%;
 margin-top: 5%;
}

