/* src/pages/ConfirmedBooking.css */

.confirmed-booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Full viewport height */
    text-align: center;
  }